@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&family=Fraunces:ital,wght@0,700;0,900;1,700;1,900&display=swap');

$barlow: "Barlow", sans-serif;
$fraunces: "Fraunces", serif;

html, body{
    a{
        text-decoration: none;
    }
    font-size: 18px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    // overflow-x: hidden;
}

#landing{
    ul{
        list-style-type: none;
        position: relative;
        z-index: 1;
        #foreground-landing{
            overflow: hidden;
            header{
                display: flex;
                justify-content: space-between;
                align-items: baseline; 
                h3{
                    margin: 10px 0px 0px 0px;
                    font-family: $barlow;
                    font-weight: 700;
                    color: white;
                } 
                .header-list{
                    
                    li{
                        list-style: none;
                        display: inline-flex;
                        position: inherit;
                        width: 110px;
                        height: 55px;
                        bottom: 10px;
                        margin: 10px 10px 0px 0px;
                        // padding-right: 10px;
                        // padding-left: 20px;
                        
                        border-radius: 20px;
                        font-family: $barlow;
                        font-weight: 400;
                        font-size: 1rem;
                        a{
                            position: inherit;
                            span{
                                position: inherit;
                                color: #fff;
                                text-align: center;
                                padding-left: 25px;
                                top: 13px;
                            }
                            span#span-1{
                                @extend span;
                                padding-left: 30px;
                            }
                            span#span-2{
                                @extend span;
                                right: 4px;
                            }
                            span#span-3{
                                @extend span;
                                right: 2px;
                            }
                        }
                        &:hover{
                            background-color: skyblue;
                        }
                    }
                }
            }
            h1{
                margin-top: 135px;
                font-size: 3rem;
                letter-spacing: 5px;
                text-align: center;
                font-family: $fraunces;
                font-weight: 700;
                color: white;
            }
        }
        
    }
    img{
        z-index: 0;
        // width: 1440px;
        // height: 800px;
        width: 1440px;
        height: 800px;
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        
    }
}

#desc-1{
    top: 600px;
    position: absolute;
    #text-left{
        z-index: 1;
        h1 {
            font-family: $fraunces;
            font-weight: 900;
            letter-spacing: 1px;
            width: 400px;
            padding-bottom: 40px;
            padding-left: 60px;
        }
        p {
            font-family: $barlow;
            font-weight: 600;
            color: hsl(232, 10%, 55%);
            width: 450px;
            line-height: 1.6;
            padding-bottom: 50px;
            padding-left: 60px;
        }

        a {
            font-family: $fraunces;
            font-weight: 700;
            color: black;
            padding-left: 60px;
        }
        width: 50%;
        height: 335px;
        margin-top: 350px;
        margin-bottom: 100px;
        margin-left: 25px;
    }
    img{
        overflow: hidden;
        position: absolute;
        top: 200px;
        left: 720px;
        z-index: 0;
        
    }
}

#desc-2{
    top: 1200px;
    position: absolute;
    #text-right{
        z-index: 1;
        h1 {
            font-family: $fraunces;
            font-weight: 900;
            letter-spacing: 1px;
            width: 440px;
            padding-bottom: 40px;
            padding-left: 60px;
        }
        p {
            font-family: $barlow;
            font-weight: 600;
            color: hsl(232, 10%, 55%);
            width: 450px;
            line-height: 1.6;
            padding-bottom: 50px;
            padding-left: 60px;
        }

        a {
            font-family: $fraunces;
            font-weight: 700;
            color: black;
            padding-left: 60px;
        }
        width: 50%;
        height: 335px;
        margin-top: 200px;
        margin-bottom: 100px;
        padding-left: 800px;
        padding-top: 165px;
    }
    img{
        overflow: hidden;
        position: absolute;
        top: 200px;
        // left: 629px;
        z-index: 0;
        
    }
}

#desc-3{
    position: absolute;
    top: 2000px;
    .desc-ext{
        #desc-ext-1{
            #desc-ext-1-text{
                position: absolute;
                z-index: 1;
                top: 375px;
                left: 165px;
                text-align: center;
                width: 370px;
                h2{
                    font-family: $fraunces;
                    font-weight: 900;
                    color: hsl(167, 40%, 24%);
                }
                p{
                    font-family: $barlow;
                    font-weight: 600;
                    line-height: 1.6;
                    color: hsl(167, 40%, 24%);
                }
            }
            img{
                position: absolute;
                width: 720px;
                height: 600px;
                z-index: 0;
            }
        }
        #desc-ext-2{
            #desc-ext-2-text{
                position: absolute;
                z-index: 1;
                top: 375px;
                left: 920px;
                text-align: center;
                width: 350px;
                h2{
                    font-family: $fraunces;
                    font-weight: 900;
                    color: hsl(198, 62%, 26%);
                }
                p{
                    font-family: $barlow;
                    font-weight: 600;
                    line-height: 1.6;
                    color: hsl(198, 62%, 26%);
                }
            }
            img{
                position: absolute;
                width: 720px;
                height: 600px;
                z-index: 0;
                left: 720px;
            }
        }
        
    }
}

#testimony{
    position: absolute;
    top: 2700px;
    z-index: 1;
    img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-left: 130px;
        margin-bottom: 30px;
    }
    h3{
        position: absolute;
        font-family: $fraunces;
        font-weight: 700;
        color: hsl(210, 4%, 67%);
        letter-spacing: 6px;
        // text-align: center;
        top: 25px;
        width: 500px;
        left: 560px;
    }
    #customer-all{
        position: absolute;
        top: 150px;
        .customer{
            position: absolute;
            p{
                top: 15px;
                width: 350px;
                text-align: center;
                font-family: $barlow;
                font-weight: 600;
                line-height: 1.6;
                color: hsl(232, 10%, 55%);
            }
            p.customer-name{
                @extend p;
                font-family: $fraunces;
                font-weight: 900;
                font-size: 20px;
                color: hsl(212, 27%, 19%);
                margin-bottom: -10px;
            }

            p.customer-position{
                @extend p;
                font-weight: 400;
                // font-size: 15px;
                color: hsl(210, 4%, 67%);
            }
        }
        #customer-1{
            position: inherit;
            left: 150px;
        }
        #customer-2{
            position: inherit;
            left: 560px;
        }
        #customer-3{
            position: inherit;
            left: 970px;
        }
    }
}

#pictures{
    img{
        position: absolute;
        top: 3330px;
        width: 360px;
    }
    #pic-2{
        @extend img;
        left: 360px;
    }
    #pic-3{
        @extend img;
        left: 720px;
    }
    #pic-4{
        @extend img;
        left: 1080px;
    }
}

footer{
    position: absolute;
    top: 3776px;
    width: 1440px;
    text-align: center;
    background-color:hsl(168, 58%, 75%);

    h2{
        font-family: $barlow;
        font-weight: 900;
        color: hsl(166, 38%, 36%);
        margin-bottom: 40px;
        margin-top: 60px;
    }
    a{
        color: hsl(168, 34%, 41%);
        font-family: $barlow;
        font-weight: 600;
        margin-right: 25px;
        margin-left: 25px;
        &:hover{
            color: #fff;
        }
        path:hover{
            fill: white;
        }
        svg{
           margin-top: 80px;
           margin-bottom: 20px;
        }
        .attr{
            margin: 0;
            padding: 0;
        }
        span{
            font-size: 12px;
        }
    }
}

// Bug unfixed, probably caused by my screen size (1376px) 
// that's different from the size the layout supposed to be for (1440px)


    
